<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>504805874781-65229c0qcb87fa1sflq6bk08vp2336kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.504805874781-65229c0qcb87fa1sflq6bk08vp2336kt</string>
	<key>API_KEY</key>
	<string>AIzaSyAZaHpMSJawolpC0UlqjhXLdU2slEDwYu8</string>
	<key>GCM_SENDER_ID</key>
	<string>504805874781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medwell</string>
	<key>PROJECT_ID</key>
	<string>medwell-6dfcf</string>
	<key>STORAGE_BUCKET</key>
	<string>medwell-6dfcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504805874781:ios:bdc7a787548eac4dbbc1b4</string>
</dict>
</plist>